{%extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
<style>
    body{
        background-color: lavender;
        /* background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
        /* color:; */
    }
    .card{
        padding: 50px;
        background-color: #403c3b;
        color: #fff;
        border-radius: 10px;
    }
</style>
{% endblock %}