{%extends 'base.html'%}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card-deck">
                <div class="card">
                  <img src="{{phote.image.url}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Image Name{{phote.name}}</h5>
                    <p class="card-text">{{phote.description}}</p>
                    <p class="card-text">{{phote.location}}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
                
              </div>
        </div>
    </div>
    <style>
        
    </style>

{% endblock %}